$primary-color: #f7f7e8;
$secondary-color: #c7cfb7;
$tertiary-color: #9dad7f;
$quarternary-color: #557174;
$font-family-hindi: "Noto Sans", sans-serif;
$font-family-english: "Open Sans", sans-serif;
body {
  margin: 0;
  background: $primary-color;
  font: $font-family-english;
}
